
<div class="container">
    <h1>This is our products:</h1>
    <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
            <th scope="col">Description</th>
            <th scope="col">Details</th>
          </tr>
        </thead>
        <tbody>
          @for (products of productList; track $index) {
            <tr>
              <th scope="row">{{products.id}}</th>
              <td>{{products.title}}</td>
              <td>{{products.price}}</td>
              <td>{{products.description}}</td>
              <td><button type="button" class="btn btn-outline-primary" (click)="navegate(products.id)">Details</button></td>
            </tr>
          }
        </tbody>
      </table>
</div>
